* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: rgb(127, 167, 201);
}

.title {
  margin: 15px;
  font-size: 42px;
}

.form__title,
.posts__title,
.error-msg,
.posts__info {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__error-msg {
    display: none;
    color: rgb(208, 72, 72);
  }

  &__input-title,
  &__btn {
    height: 50px;
    font-weight: bold;
  }

  &__input,
  &__btn {
    padding: 5px;
    font-size: 25px;
    border-radius: 12px;
  }

  &__btn {
    width: 200px;
    align-self: flex-end;
    border-color: rgb(35, 144, 184);
    background-color: rgb(35, 144, 184);
    color: black;
  }

  &__btn:disabled {
    border-color: rgb(149, 199, 226);
    background-color: rgb(149, 199, 226);
    color: rgb(78, 78, 78);
  }
}

.post,
.form__input {
  min-width: 766px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
  background-color: white;
}

.post {
  margin: 15px;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 40%);
  background-color: white;

  &__title {
    padding: 5px;
    font-size: 30px;
  }

  &__body {
    padding: 5px;
    font-size: 25px;
    text-align: justify;
  }
}

.error_msg {
  color: red;
}
